
ul.tree,ul.tree ul {
    list-style-type: none;
    margin:0;
    padding:0;
}

ul.tree ul {
    margin-left:10px;

}

ul.tree li {
    margin:0;
    padding:0 12px;
    font-size:14px;
    line-height:20px;
    color:#369;
    font-weight:bold;
}

ul.tree ul li {

}

ul.tree ul li.last,
ul.tree ul li:last-child {

}

